@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

* {
  margin: 0;
  font-family: "Nanum Gothic";
  font-size: medium;
  color: #2d2d2d
}

nav {
  overflow: auto;
}

.navbar {
  padding: 12px;
  display: flex;
  align-items: center;
  min-width: auto;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  /* position: fixed; */
}


.navbar .buttons {
  margin-left: 20px;
  margin-right: 5px;
}


.navbar a {
  margin-left: 15px;
  margin-right: 10px;
  text-decoration: none;
  padding: 10px;
}


.navbar .home-button {
  margin-right: auto;
  margin-left: 0px;
  font-size: x-large;
  font-weight: 400;
}

/* welcome screen */
.welcome-screen {
  background: url("rect25884.png") repeat center center fixed;
  background-size: auto;

  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
}

.welcome-screen .code-box {
  width: 50%;
  height: 40%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #999999bc;
  opacity: 93%;
}

.welcome-screen .buttons {
  text-align: center;
  margin: 5% 0px 0px 0px;
  top: 50%;
  left: 50%;
  bottom: 0px;
  opacity: 1;
}


.create-game-button {
  width: 35%;
  height: 55px;
  cursor: pointer;

  color: white;
  background-color: #d1bebe;
  border-radius: 8px;
  border: #c8b7b7;
  font-weight: 700;
  opacity: 1;
  
}

.join-game-button {
  width: 35%;
  height: 55px;
  margin-left: 15%;
  cursor: pointer;

  color: white;
  background-color: #d1bebe;
  border-radius: 8px;
  border: #c8b7b7;
  font-weight: 700;
  opacity: 1;
}

.welcome-screen .create-game-button:focus{
  background-color: #7d7272;
  opacity: 1;
}

.welcome-screen .join-game-button:focus{
  background-color: #7d7272;
}


.welcome-screen form {
  display: flex;
  width: 250px;

  flex-direction: row;
  padding: 0px;
  margin: auto;
}

.welcome-screen input {
  width: auto;
  flex-grow: 2;
  border: none;
  margin: 25% 0px auto auto;
  height: 18px;
}

.welcome-screen .copy-button {
  height: 20px;
  width: auto;
  margin: 25% auto;
  font-size: small;
  cursor: pointer;
  border: none;
}


.welcome-screen .hidden-button {
  height: 20px;
  width: auto;
  margin: 25% auto;
  font-size: small;
  background-color: white;
  outline: none;
  border: none;
  
}

.welcome-screen .go-button {
  height: 20px;
  width: auto;
  margin: 25% auto;
  font-size: small;
  cursor: pointer;
  border: none;
}

.welcome-screen .go-link {
  height: 20px;
  width: auto;
  margin: 22% auto;
  font-size: small;
  cursor: pointer;
  border: none;
}

.welcome-screen .play-button {
  margin-bottom: 5px;
  height: 30px;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;

  color: white;
  background-color: #333;
  border-radius: 8px;
  border: #c8b7b7;
  font-weight: 700;
  opacity: 1;
  letter-spacing: .5px;
  text-size-adjust: small;

}


.play {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.welcome-screen .directions{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -120px);
}

/* game screen */

.board {
  margin-top: 50px;
  margin-left: 25%;
  flex-shrink: 3;

}

.history {
  margin-left: 30px;
  margin-top: 50px;
  flex-direction: column;
}



.history-list {
  margin-top: 0px;
  align-items: flex-start;
  padding-left: 0pt;
  list-style-type: none;
  padding-top: 10px;

}

.game-board {
  display: flex;
  flex-direction: row;
  margin: auto;
  color: white !important;
}

.game-board .chat-header{
  margin-top: 50px;
  margin-left: 20px;
}



.chat .form { 
  background: rgba(0, 0, 0, 0.15); 
  padding: 0.25rem; 
  position: fixed; bottom: 0; left: 0; right: 0; 
  display: flex; height: 3rem; 
  box-sizing: border-box; 
  backdrop-filter: blur(10px);

}
.chat .message-input { 
  border: none; 
  padding: 0 1rem; 
  flex-grow: 1; 
  border-radius: 2rem; 
  margin: 0.25rem;
}
.chat .form > button { 
  background: #333; 
  border: none; 
  padding: 0 1rem; 
  margin: 0.25rem; 
  border-radius: 3px; 
  outline: none; 
  color: #fff;
}

.chat .messages-list { 
  list-style-type: none; margin-right: 0px; padding: 0;  }
.chat .messages-list > li { padding: 0.5rem 1rem; max-width: 300px; }
.chat .messages-list > li:nth-child(odd) { background: #efefef; }






